<a href="https://colab.research.google.com/github/nan-park/cp1_project/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import**

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [38]:
# (체크) 데이터 불러오는 것도 나중에 함수화 하기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
df = pd.read_csv('/content/drive/MyDrive/binary_dataset.csv')
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,y
0,136.093750,51.691005,-0.045909,-0.271816,9.342809,38.096400,4.345438,18.673649,0
1,99.367188,41.572202,1.547197,4.154106,27.555184,61.719016,2.208808,3.662680,1
2,100.890625,51.890394,0.627487,-0.026498,3.883779,23.045267,6.953168,52.279440,0
3,120.554688,45.549905,0.282924,0.419909,1.358696,13.079034,13.312141,212.597029,1
4,121.882812,53.042675,0.200521,-0.282219,2.116221,16.580876,8.947603,91.011762,0

In [40]:
# 학습/테스트 데이터 뒤섞기
def df_shuffle(df):
  return df.sample(frac=1).reset_index(drop=True)

# 특성, 타겟 나누기
def divide_xy(df):
  target = 'y'
  features = list(df.columns)
  features.remove(target)

  X = df[features]
  y = df[target]
  return X, y

# 학습/테스트 데이터 분리하기
def train_test_divide(X, y, test_size=0.2):  # X: pandas dataframe, y: pandas series
  length = len(y)
  test_index = int(length * test_size)

  X_test = X[:test_index]
  y_test = y[:test_index]

  X_train = X[test_index:]  
  y_train = y[test_index:]

  return X_train, y_train, X_test, y_test

In [41]:
def train_test_split(df, shuffle=True, test_size=0.2):
  if shuffle:
    df = df_shuffle(df)
  
  X, y = divide_xy(df)
  return train_test_divide(X, y, test_size=test_size)

In [42]:
X_train, y_train, X_test, y_test = train_test_split(df)

In [43]:
# 미니배치 배정 -> 미니배치 개수를 기준으로 가중치 개수 정해야 함
# 미니배치를 통해 결국에 GPU의 병렬처리를 활용해야 함
# 가중치, 편향 값 랜덤 지정(Xavier 초기화 참고)
# 인공신경망 층 클래스 정의 필요한가?(가중치, 편향 값 존재) -> W, b

In [44]:
# 미니배치 설정. 이게 그대로 인공 신경망에 들어감
def set_mini_batch(X, y): # train, test 들어올 예정
  # 4개씩 미니배치 설정. 나머지는 버리기
  length = len(y)
  num = length // 4 # 미니배치 개수
  X_batch_list = []
  y_batch_list = []
  for i in range(num):
    i = i * 4
    # 비복원 추출. 데이터가 적기 때문에 겹치지 않는 게 나을 듯.
    X_batch_list.append(X[i:i+4]) # index: 0~4, 4~8, 8~12, ...
    y_batch_list.append(y[i:i+4])
  return X_batch_list, y_batch_list

In [45]:
# 층의 노드 개수(n), 미니배치 하나 개수(4개) -> 가중치 4xn

# Xavier 초기화(활성화함수가 시그모이드일 때 잘 동작), 편향 포함한 후에 분리하기
# 이전 층 노드 개수가 n, 현재 층 노드 개수 m일 때, 표준편차가 2/루트(n+m)인 정규분포로 초기화

def initialize_parameter(n, m):
  init = np.random.normal(0, 2/((n+m)**2), (n, m+1))
  W = init[:, :-1]
  b = init[:, -1]
  return W, b

initialize_parameter(4, 5)

(array([[ 0.02075047, -0.01115873, -0.03252529,  0.00264315, -0.01789865],
        [ 0.00179248, -0.02537062, -0.00835429,  0.02243532, -0.0383387 ],
        [ 0.00469404,  0.00409837, -0.00784763, -0.02596775, -0.00595532],
        [-0.04778234, -0.01645449,  0.01619044,  0.03097993, -0.03109377]]),
 array([ 0.00263237, -0.02540943, -0.0264644 ,  0.03114436]))

In [51]:
class Layer():  # 은닉층, 출력층
  def __init__(self, node_num, activation='linear'):
    self.node_num = node_num
    self.activation = activation
    # self.W, self.b = initialize_parameter(self.pro_node_num, self.node_num)  # (체크)이전 층 정보를 어떻게 가져오지?
    # (체크) activation, input, W, b, next
    self.prev = None
    self.next = None

class Dense(Layer):
  def __init__(self, node_num, activation='linear'):
    super().__init__(self, node_num)
  
  def set_weights(self):
    self.W, self.b = initialize_parameter(self.pro_node_num, self.node_num)

  # def output(self):
  #   # self.prev.output
  #   return np.dot(self.X, self.W) + self.b

class Input(Layer): # prev가 없음
  def __init__(self, node_num, activation='linear'):
    super().__init__(self, node_num)

  # def output(self):
  #   return X

In [52]:
# Sequential([])에 layer 쌓고 서로 연결되도록 하기. 가중치 초기화 가능해야 함
class Sequential():
  def __init__(self, layer_list):
    if len(layer_list)==0:
      self.head = None
      self.tail = None
    elif len(layer_list)==1:
      self.head = layer_list[0]
      self.tail = layer_list[0]
    else:
      self.head = layer_list[0]
      iterator = self.head
      for layer in layer_list[1:-1]:
        layer.prev= iterator
        iterator.next = layer
        iterator = layer
      iterator.next = layer_list[-1]
      self.tail = layer_list[-1]
      self.tail.prev = iterator

In [58]:
model = Sequential([Input(4), Dense(16), Dense(32), Dense(2, activation='sigmoid')])
model.tail.node_num